.headerCon {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #ffffff;
  line-height: 0;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 0.5px solid red; */
}
.headItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.logoCon {
  height: 100%;
  width: 120px;
}
.logo {
  height: 100%;
  width: 100%;
}
.btn {
  border: 2px solid #58986d;
  border-radius: 25px;
  background-color: #58986d;
  padding: 2px 8px;
  font-size: 18px;
  color: #ffffff;
}
.menuIcon:hover {
  transition: 1s;
  transform: rotate(180deg);
}
.headerLine {
  border: 0.5px solid rgb(184, 184, 184);
}
/* end of header */

.menuCon {
  height: 100%;
  width: 100%;
  background-color: #2d2d2dff;
  position: absolute;
  top: 0;
  padding: 20px;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
}
.closeCon {
  background-color: inherit;
  border: none;
}
.closeIcon {
  font-size: 30px;
  transition: 40s;
  /* transition: transform 0.5s ease-in-out; */
}
.closeIcon:hover {
  transform: rotate(90deg);
}
.meetMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  opacity: 0.6;
  margin-bottom: -20px;
}
.ppCon {
  margin-bottom: 20px;
}
.pp {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  color: #ffffff;
  text-decoration: none;
  line-height: 1;
}
.pp:hover {
  margin-left: 5px;
  font-weight: 600;
  text-decoration: underline;
}
.modaline {
  border: 1px solid white;
}
.linksCon {
  margin-top: 70px;
}
.linksCon a {
  color: #ffffff;
  text-decoration: none;
  line-height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  /* border: 0.5px solid red; */
}
.contactIcon {
  font-size: 25px;
  opacity: 0.6;
}
.linksCon p {
  opacity: 0.6;
}
/* end of moda */
.summaryCon {
  padding: 50px 20px;
  background-color: rgb(231, 255, 233);
}
.summaryCon h2 {
  text-align: center;
  color: #009000;
  font-size: 27px;
  margin-top: 80px;
}
.summaryCon span {
  color: #009000;

  font-weight: 700;
  text-transform: capitalize;
}
/* end of summary */
.displayImg {
  position: relative;
}
.imgCon {
  width: 100%;
  height: 500px;
}
.img {
  width: 100%;
  height: 100%;
}
.imgText {
  position: absolute;
  top: -20px;
  left: 30%;
  transform: translatey(-50%, -50%);
}
.imgText p {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  text-align: center;
}
.imgText span {
  color: #009000;
}
.productBtn {
  padding: 7px 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
}
.productLink {
  color: #009000;
  text-decoration: none;
}
/* end of display img */
.service {
  padding: 20px;
  background-color: #c0c0c0;
  scroll-margin-top: 70px;
}
.service h1 {
  /* color: #009000; */
  color: #da6d32;
}
.service span {
  /* color: #009000; */
  color: #da6d32;
  font-weight: 600;
  text-transform: capitalize;
}
.service ul {
  margin-left: -20px;
  margin-bottom: 30px;
  margin-top: -15px;
}
.goal {
  font-style: italic;
  font-size: 17px;
  font-weight: 600;
  color: #009000;
}
/* end of service */
.about {
  background-color: #2f3b2f;
  padding: 20px;
  scroll-margin-top: 70px;
}
.about h1 {
  color: #da6d32;
}
.about p {
  color: #ffffff;
  font-size: 17px;
}
/* end of about */
.contactUs {
  padding: 20px;
}
.address {
  font-style: italic;
  opacity: 0.6;
  margin-bottom: 20px;
}
.contactUs h2 {
  opacity: 0.7;
}
.contactUs a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #000000;
  text-decoration: none;
  opacity: 0.7;
  margin-top: -25px;
}
.copywrite {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-style: italic;
  opacity: 0.5;
  width: fit-content;
  margin-inline: auto;
}

/* Product page **** */

.prodBody {
  padding: 10px;
}

.exploy {
  margin-top: 90px;
  text-align: center;
}
.exploy h2 {
  color: #009000;
  /* margin-bottom: -10px; */
  line-height: 0;
}
.exploy span {
  color: #009000;
}
.carCon {
  margin: 20px 0px;
  line-height: 0;
  border: 5px solid #da6d32;
  border-radius: 10px;
}
.carImg {
  height: 300px;
  width: 100%;
  border-radius: 5px 5px 10px 10px;
  /* border: 2px solid red; */
}
.title {
  line-height: 1.1;
  text-transform: uppercase;
}
.miles {
  margin-top: -10px;
  font-size: 15px;
  /* line-height: 1.2; */
}
.priceCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-block: -10px;
}
.price {
  font-size: 18px;
  font-weight: 700;
  color: #da6d32;
}
.deposit {
  font-weight: 600;
}
.stock {
  /* line-height: 1; */
  opacity: 0.6;
}
.warranty {
  font-size: 14px;
  font-style: italic;
}
.discrpt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cccccc;
  height: 20px;
  padding: 0px 10px;
  border-radius: 5px;
  /* margin-top: 30px; */
}
.discripCon {
  border: 5px solid #cccccc;
  padding: 0px 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.discription {
  line-height: 1.5;
}
.discripList {
  line-height: 0.5;
}
