.headerCon {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #ffffff;
  line-height: 0;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 0.5px solid red; */
}
.headerLine {
  border: 0.5px solid rgb(184, 184, 184);
}
.logoCon {
  height: 100%;
  width: 120px;
}
.logo {
  height: 100%;
  width: 100%;
}
.summaryCon {
  padding: 50px 20px;
  background-color: rgb(231, 255, 233);
}
.summaryCon h2 {
  text-align: center;
  color: #009000;
  font-size: 27px;
  margin-top: 100px;
}
.summaryCon span {
  color: #009000;
  font-weight: 700;
  text-transform: capitalize;
}
